.preguntas {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    text-overflow: ellipsis;
  }
  .questionButton{
    width: fit-content;
  }
  .preguntas button {
    width: 320px;
    height: 50px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    text-overflow: ellipsis;
  }
  .container-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: 100vh;           
    width: 100vw;        
    background-image:url("../../assets/images/fondo-preguntas.jpg");
    background-size: cover;
    background-position: center;
  }

  .q-button {
    --glow-color: rgb(218, 201, 235);
    --glow-spread-color: rgba(27, 48, 117, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(51, 49, 134);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    gap: 40px;
    position: relative;
    transition: all 0.3s;
   }
   
  .title-question {
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: large;
    color: white;
  }
  .title-contaienr{
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border-style:outset;
    width: fit-content;
    border-color: black;
    border-width: 5px;
    color: black;
    margin-bottom: 40px;
    background-color: rgb(37, 31, 121);
    
  }
