


.preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;     /* Centers items horizontally within the column */
  flex-basis: 40%;
}

.preguntas button {
  width: 200px;            /* Sets a fixed width for the buttons */
  height: 50px;            /* Sets a fixed height for the buttons */
  padding: 10px;           /* Adds padding inside the buttons */
  margin: 5px 0;           /* Adds margin between buttons */
  display: flex;           /* Enables flexbox layout inside buttons */
  justify-content: center; /* Centers text horizontally */
  align-items: center;     /* Centers text vertically */
  text-align: center;      /* Centers text alignment */
  white-space: nowrap;     /* Prevents text from wrapping to the next line */   
  text-overflow: ellipsis; /* Adds ellipsis (...) if text is too long */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers items horizontally */
  align-items: center;     /* Centers items vertically */
   height: 95vh;           
  width: 100vw;             
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
