


/* .preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
}

.preguntas button {
  width: 200px;
  height: 50px;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap; 
  text-overflow: ellipsis;
} */
/* .container {
  background-image: linear-gradient(rgb(0, 204, 255), rgb(0, 110, 255));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   height: 100vh;           
  width: 100vw;             
} */